<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Javid Sadigli">
    <link rel="shortcut icon" href="https://static.thenounproject.com/png/386481-200.png">
    <link rel="stylesheet" href="../assets/css/style.css">

    <style>
        h1{
            text-align: center;
            margin-bottom: 0px;
            font-size: 40px;
        }
        p{
            text-align: center;
            font-size: 24px;
        }
    </style>

    <title>Error</title>
</head>
<body>
    <h1>
        Error
    </h1>
    <p>Something went wrong!</p>
</body>
</html>